@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0; padding: 0; width: 100vw; height: 100vh; background-color: #FAF8F2; /* bgLight */
  font-family: 'Inter', sans-serif;
}

.cc-window {
  border-radius: 1rem !important;
  font-family: inherit;
}

.cc-btn-primary {
  background: #384c8b !important;
  border-radius: 0.75rem !important;
}

.cc-btn-secondary {
  border-radius: 0.75rem !important;
}
